@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Dealers</h1>
    <p class="lead">Car Dealer MVC web application  is a helps to find the best cars to customers.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    <p> Git hub link <a href="https://github.com/Amalbaiju26/CarDealer"> https://github.com/Amalbaiju26/CarDealer </a></p>
    <p> Azure link <a href="https://cardealer.azurewebsites.net"> https://cardealer.azurewebsites.net </a></p>
</div>
